@import url('https://fonts.googleapis.com/css?family=Cute+Font|Monoton');

body {
    text-align: center;
    background-color: #1a1d53;
}

h1 {
  width: 110%;
  height: 25px;
  margin: 10px 0 0 0;
  font-family: 'Monoton', cursive;
  font-weight: normal;
  color: white;
  position: absolute;
  text-align: center;
}

canvas {
  position: absolute;
  top: 55px;
  left: 40%;
  width: 505px;
  height: 808px;
  margin: 10px;
}

.rules {
  position: absolute;
  color: white;
  font-size: 24px;
  font-family: 'Cute Font', cursive;
  left: 10%;
  width: 300px;
  height: 808px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rules p {
    font-weight: normal;
}

#logo {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.footer p,
.footer a {
  left: 50%;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: 'Cute Font', cursive;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
}
